<% layout('layouts/boilerplate')%>

<form action="/events/<%= event._id%>?_method=PUT"  method="POST" class="validated-form mb-3" novalidate>
    <h1>Add New Event</h1>
    <div class="mb-3">
        <label class="form-label" for="name">Event Name</label>
        <input class="form-control" type="text" id="name" name="event[name]" value="<%= event.name %>"> 
    </div>

    <div class="mb-3">
        <label class="form-label" for="description">Event Description</label>
        <input class="form-control" type="text" id="eventDescription" name="event[description]" value="<%= event.description%>">     
    </div>

    <div class="mb-3">
        <label class="form-label" for="date">Event Date</label>
        <input class="form-control" type="date" id="date" name="event[date]" value="<%=event.date%>">
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="time">Event Time</label>
        <input class="form-control" type="time" id="time" name="event[time]" value="<%= event.time%>">   
    </div>
    
    <button class="btn btn-success mb-4">Update Event</button>
</form>