<% layout('layouts/boilerplate')%>
    <script src="/javascripts/html2pdf.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

    <div class="row d-flex">
        <div class="col-12 mb-3">
            <button class="float-md-end  btn btn-primary " id="download">Download PDF</button>
        </div>
    </div>
    <div class="border border-dark p-3 mb-3 " id="resume">
        <div class="row mb-2">
            <div class="col-6">
                <h2 class="mb-0 mx-2">
                    <%= resume.personal.firstName%>
                        <%= resume.personal.lastName%>
                </h2>
                <div class="d-inline-block px-2 mt-2">
                    <% if( resume.personal.linkedin ){ %>
                        Linkedin&nbsp;: <a href="<%= resume.personal.linkedin%>" class="a-design">
                            <%= resume.personal.linkedin%>
                        </a>
                        <% } %>
                            <br>
                            <% if( resume.personal.github ){ %>
                                Github&nbsp;&nbsp;&nbsp;: <a href="<%= resume.personal.github%>" class="a-design p-1">
                                    <%= resume.personal.github%>
                                </a>
                                <% } %>
                </div>
            </div>
            <div class="col-6">
                <div class="d-inline-block  float-md-end">
                    <p>Email: <%= resume.personal.email%> <br>
                            Mobile: <%= resume.personal.mobile%>
                    </p>
                </div><br>
            </div>
        </div>

        <div class="row px-2">
            <div class="col ">
                <h5 class="justify-content-center text-center">EDUCATIONAL QUALIFICATION</h5>
            </div>
            <hr style="border-top:2px solid black;">
        </div>


        <div class='row'>
            <div class="col-8 px-2">
                <ul>
                    <li>
                        <%= resume.degreeCollege.name%><br>
                            <%= resume.degreeCollege.degree%> in
                                <%= resume.degreeCollege.branch%> with CGPA of <%= resume.degreeCollege.cgpa%>
                                        out of 10.0
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <div class="d-inline-block float-md-end">
                    <p class="float-md-end mb-0">
                        <%= resume.degreeCollege.location%>
                    </p><br>
                    <%= resume.degreeCollege.year%>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class="col-8 px-2">
                <ul>
                    <li>
                        <%= resume.juniorCollege.name%><br>
                            Scored <%= resume.juniorCollege.percentage%> % in <%= resume.juniorCollege.board%><br>
                                    <% if(resume.juniorCollege.jee){%>JEE Score: <%= resume.juniorCollege.jee%>
                                            <% }%><br>
                                                <% if(resume.juniorCollege.cet){%>MHT-CET Score: <%=
                                                        resume.juniorCollege.cet%>
                                                        <% } %>
                    </li>



                </ul>
            </div>
            <div class="col-4">
                <div class="d-inline-block float-md-end">
                    <%= resume.juniorCollege.location%><br>
                        <%= resume.juniorCollege.year%>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class="col-8 px-2">
                <ul>
                    <li>
                        <%= resume.school.name%><br>
                            Scored <%= resume.school.percentage%> % in <%= resume.school.board%>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <div class="d-inline-block float-md-end">
                    <%= resume.school.location%><br>
                        <%= resume.school.year%>
                </div>
            </div>
        </div>

        <% if(resume.skills.length){ %>
            <div class="row px-2">
                <div class="col">
                    <h5 class="justify-content-center text-center">SKILLS</h5>
                </div>
                <hr style="border-top:2px solid black;">
            </div>

            <div class="row">
                <div class="col">
                    <ul>
                        <% for(let skill of resume.skills) {%>
                            <li>
                                <%= skill%>
                            </li>
                            <% }%>
                    </ul>
                </div>
            </div>
            <% } %>

                <% if(resume.projects.length){ %>
                    <div class="row px-2">
                        <div class="col">
                            <h5 class="justify-content-center text-center">PROJECTS</h5>
                        </div>
                        <hr style="border-top:2px solid black;">
                    </div>

                    <div class="row">
                        <div class="col">
                            <ul>
                                <% for(let project of resume.projects) {%>
                                    <li>
                                        <%= project.title%>
                                            <ul>
                                                <li>Stack Used: <%= project.stack%>
                                                </li>
                                                <li>Description: <%= project.description%>
                                                </li>
                                            </ul>
                                    </li>
                                    <% }%>
                            </ul>
                        </div>
                    </div>
                    <% }%>

                        <% if(resume.achievements.length){ %>
                            <div class="row px-2">
                                <div class="col">
                                    <h5 class="justify-content-center text-center">ACHIEVEMENTS</h5>
                                </div>
                                <hr style="border-top:2px solid black;">
                            </div>

                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <% for(let achievement of resume.achievements) {%>
                                            <li>
                                                <%= achievement.title%>
                                                    <ul>
                                                        <li>Description: <%= achievement.description%>
                                                        </li>
                                                    </ul>
                                            </li>
                                            <% }%>
                                    </ul>
                                </div>
                            </div>
                            <% }%>

    </div>

    <div class="row mb-3">
        <div class="col-4 mb-3">
            <a class="btn btn-secondary w-50" href="/students/resume">Back</a>
        </div>
        <div class="col-4 d-flex justify-content-center mb-3">
            <a class="card-link btn btn-info  text-center w-50" href="/students/resume/<%= resume._id%>/edit">Edit</a>
        </div>
        <div class="col-4 mb-3">
            <form class="d-inline" action="/students/resume/<%= resume._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger float-md-end w-50">Delete</button>
            </form>
        </div>

    </div>